{% extends 'base.html' %} 

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class = "col-md-2 col-sm-4 index">
		{% for lesson in lessons   %}
		
		<a class="index" href="{{lesson.get_absolute_url}}"><h4> {{lesson.headline}} </h4></a>
		
		{%  endfor  %}
		</div>
		<div class="col-md-10 col-sm-4">
			
			
			<div class="thumbnail">
				<div class="caption">	
					<h3> {{lesson1.headline}} </h3>
					<p> {{lesson1.content|safe}} </p>
				</div>
			</div>
			
			
		</div>
	
	

	
	</div>
	</div>
{% endblock %}