.navbar {
	margin-bottom:0;
}


body {
	background-color: #eaaaaa;
	padding-top:50px;
	font-family: 'Roboto', 'Arial';
	color: #101010;
}

.basliklar {
	margin-top: 20px;
	border: solid;
	background-color: #101010;
	color: #fff;
}

.col-lg-2,.col-md-2, .col-sm-3{
	padding-left: 8px;
} 

.abc {
	margin-bottom: 10px;
	color:#fff;
}

.index {
	background-color: #101010;
}

.content {
	padding-right: 0;
    padding-left: 0;
}
hr{
	border-top: 1px solid #e69db6;
	margin-top: 10px;
    margin-bottom: 10px;
}
tt {
	color:#010115;
}

code {
	font-size: 14px;
	color: #f53e0b;
	padding: 0 0;
	font-weight: 500;
	background-color: #101010;
}

blockquote {
	border-left-color: #101010;
    padding: 10px 10px;
    margin: 10px 30px;
	font-size: 14px;
	background-color: #1e6f57;
	color: #fff;
}
h3 {
	margin-top: 10px;
}
.codes {
	background-color: #101010;
	border: 1px solid #cccccc;
    padding: 5px 10px;
	margin-bottom: 8px;
	margin-top: 8px;
}


tt {
	color:#fff;
}

h5 {
	color: darkgreen;
	font-family: 'Roboto', 'Arial';
}

.thumbnail {
	margin-bottom: 10px;
	word-wrap: break-word;
}

.baslik {
	word-wrap: break-word;
}
h4, h3 {
	font-family: 'Roboto', 'Arial';
	color: #dc0606;
}


.baslik {
	color: #fff;
}

.tik{
	color: #e4e81c;
} 

th {
    text-align: middle;
}

.oklar {
	
	color: #fff;
	margin-bottom: -4px;

}

.ikinci {
	float:right;
}

@media (max-width: 767px) {

.index{
	display:none;
}

}

.bir {
	background-color: #350404;
}

.iki {
    background-color: #010423;
}

.üç {
	background-color: #032301;
}

.dört {
    background-color: #29022b;
}

.beş {
    background-color: #03383e;
}

.altı {
    background-color: #980f8e;
}

.yedi {
    background-color: #0e0c0a80;
}

.sekiz {
    background-color: #337ab7;
}

.dokuz {
    background-color: #8a6d3b;
}

.on {
    background-color: #52500a;
}

.onbir {
    background-color: #1a6358;
}

.oniki {
    background-color: #8bc34a;
}

.onüç {
    background-color: #ff5722;
}

.ondört {
    background-color: #e91e63;
}

.onbeş {
    background-color: #00bcd4;
}

.onaltı {
    background-color: #795548;
}

.onyedi {
    background-color: #9e9e9e;
}

.onsekiz {
    background-color: #673ab7;
}

.ondokuz {
    background-color: #f44336;
}

.yirmi {
    background-color: #e91e63;
}

.yirmibir {
    background-color: #9c27b0;
}

.yirmiki {
    background-color: #673ab7;
}

.yirmiüç {
    background-color: #3f51b5;
}

.yirmidört {
    background-color: #607d8b;
}

.yirmibeş {
    background-color: #933112;
}

.yirmialtı {
    background-color: #494e51;
}

.yirmiyedi {
    background-color: #847c37;
}

.yirmisekiz {
    background-color: #ad4220;
}

.yirmidokuz {
    background-color: #6f781a;
}

.otuz {
    background-color: #237984;
}

.otuzbir {
    background-color: #6051f1;
}

.otuziki {
    background-color: #34351a;
}

.otuzüç {
    background-color: #a9701e;
}

.otuzdört {
    background-color: #a9701e;
}

.otuzbeş {
    background-color: black;
}

.badge {
	background-color: #261DD7;
}
table {
	table-layout: fixed;
	width: auto;
}