{% load static %}
<!DOCTYPE HTML>
<html lang="tr">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %} Python Lesson {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap2.min.css' %}">
	<link rel="stylesheet" href="{% static 'style1.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
</head>
<body>
	{% include 'header.html' %}
	{% include 'message.html' %}
	<!-- <a href="?merhaba=ara">button</a> -->
	{% block body %}
	
	{% endblock %}
	
	
</body>
</html>